---
import { NAV_LINKS } from "../../utils/navData";

interface Props {
  lang?: string;
}

const { lang = "es" } = Astro.props;
const currentNav = NAV_LINKS.find((item) => item.iso === lang) || NAV_LINKS[0];
---

<div class="px-5 bg-white hidden lg:block">
  <div
    class="bg-ean-dark text-white flex items-center justify-between text-sm font-medium py-2 px-2 rounded-md"
  >
    <div class="flex">
      {
        currentNav.links.slice(0, 3).map((link, index) => (
          <a href={link.href} class={`${index === 0 ? "mr-7 ml-5" : "mr-7"}`}>
            {link.name}
          </a>
        ))
      }
    </div>

    <div class="flex">
      {
        currentNav.links.slice(3).map((link) => (
          <a href={link.href} class="mr-5">
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
</div>
