---
import "../styles/global.css";
import Breadcrumb from "../components/navigation/Breadcrumb.astro";
//import PageHeader from "../components/navigation/NavBarOld.astro";
import Header from "../components/navigation/Header.astro";
import { appData } from "../data";
import StickyForm from "../components/conversion/StickyForm.astro";
import StickyController from "../components/conversion/StickyController.astro";
import Footer from "../components/footer/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = appData.name, description = appData.description } = Astro.props;

// Esto ayuda a que Google sepa exactamente cuál es la URL principal
const canonicalURL = new URL(
  Astro.url.pathname,
  Astro.site || "http://localhost:4321",
);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-slate-50 text-ean-text antialiased">
    <div
      class="mx-auto min-h-screen max-w-full px-4 lg:max-w-7xl flex flex-col"
    >
      <Header />
      <Breadcrumb />

      <!-- <NavBarOld /> -->

      <main class="grow mt-4">
        <slot />
      </main>

      <Footer></Footer>


      <StickyForm />
      <StickyController />
    </div>
  </body>
</html>
